html {
  height:100%;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: #0fbfd6;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#login .button {
  margin: auto;
  width: 10%;
  font-size: 1em;
  padding: 1.5em;
  border-radius: 10px;
  background: #0fbfd6;
  opacity: 0.8;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 1px 8px 1px #bbb;
  transition: opacity 0.2s ease-in-out;
}
#logout  {
  display: flex;
  align-items: center;
  height: 100%;
  background: #f2f2f2;
  color: #999;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0.8em;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4em;
  transition: background 0.2s ease-in-out;
}

#logout:hover {
  background: #e8e8e8;
}
#actions {
  position: absolute;
  right: -25%;
  align-items: center;
  width: 46%;
  display: flex;
}
.select {
  min-height: 4em;
  border:1px solid #e8e8e8;
  overflow: hidden;
  position: relative;
  display: block;
}
select{
  cursor: pointer;
  border: 0;
  color:#999;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select:after {
  content:"▼";
  /*padding: 12px 8px;*/
  padding: 1.2em 1.8em;
  color:#999;
  position: absolute; right: 10px; top: 0;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
}
#geometry {
  height: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#output{
  height:100%;
  position:relative;
  box-sizing: border-box;
  padding: 2em 1em 2em 2em;
  display: flex;
  flex-direction: column;
}
#cellSelect {
  width: 10%;
}
#projectSelect {
    width:10%;
}
#view {
  position: relative;
  flex-grow: 1;
  z-index: 0;
  height:500px;
  width: 100%;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-bottom: 0;
  top: 0;
}